html,
body,
#app {
  padding: 0;
  margin: 0;
  height: 100%;
}
#app {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.header {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header .btns {
  padding-left: 30px;
}
.main .row {
  height: 100%;
}
.main .row .col {
  height: 100%;
}
.main .row .col .textInput {
  width: 100%;
  height: 100%;
  resize: none;
}
