html,
body,
#app {
  padding: 0;
  margin: 0;
  height: 100%;
}
p {
  margin: 0;
}
#app {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.header {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header .btns {
  padding-left: 30px;
}
.main .row {
  height: 100%;
}
.main .row .col {
  height: 100%;
}
.main .row .col .textInput {
  width: 100%;
  height: 100%;
  resize: none;
}
.main .row .col .output {
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
  overflow: auto;
}
.main .row .col .output p {
  width: fit-content;
  margin: 2px 0;
}
.main .row .col .output .wraning {
  background-color: #f56c6c;
  color: #fff;
}
