* {
  box-sizing: border-box;
}
html,
body,
#app {
  padding: 0;
  margin: 0;
  height: 100%;
}
p {
  margin: 0;
}
#app {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.header {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header .btns {
  padding-left: 30px;
}
.main .row {
  height: 100%;
}
.main .row .col {
  height: 100%;
}
.main .row .col .textInput {
  width: 100%;
  height: 100%;
  resize: none;
}
.main .row .col .right {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.main .row .col .staffList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.main .row .col .staffList .staffBtn {
  margin-bottom: 5px;
  margin-right: 5px;
}
.main .row .col .output {
  flex: 1;
  border: 1px solid #ccc;
  overflow: auto;
  padding: 10px;
}
.main .row .col .output p {
  width: fit-content;
  margin: 2px 0;
}
.main .row .col .output .wraning {
  background-color: #f56c6c;
  color: #fff;
}
.main .row .col .output .items {
  margin-bottom: 30px;
}
.main .row .col .output .items .staffId {
  margin-bottom: 15px;
}
.main .row .col .output .subItems {
  line-height: 28px;
  position: relative;
  padding-left: 30px;
}
.main .row .col .output .item {
  margin-right: 10px;
}
.main .row .col .output .item:last-child {
  margin-right: 0;
}
.main .row .col .output .highlightStaffId {
  animation: highlightStaffIdKeyframes 1s ease-in-out;
}
@keyframes highlightStaffIdKeyframes {
  from {
    background: #ccc;
  }
  to {
    background: rgba(255, 255, 255, 0);
  }
}
